.header {
    background-color: #3d88d8;
    margin-top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:5px;
    align-items: center;
}

.nome{
    font-size:54px;
    font-family: 'Bebas Neue', cursive; 
}

.body {
  background-color: #9dbfe3;
  margin-top:0;
  margin-left: 0;
  margin-right: 0;
}
